.coupon-box {
  width: fit-content;
  border-radius: 10px;
  border: 1px solid black;
  padding: 21px 26px;

  .input-wrapper {
    display: flex;
    justify-content: space-between;
  }
  input {
    width: 210px;
    border: 0;
    border-bottom: 1px solid #292020;
  }
  button {
    background-color: #7d7d7d;
    margin-right: 38px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #e5e5e5;
    border: 0;
    padding: 9px 20px;
    border-radius: 5px;
  }
  &.error {
    border-color: red;
    p.msg {
      color: #a54242;
    }
  }
  &.sucess {
    border-color: green;
    p.msg{
      color: green;
    }
  }
}

